<!DOCTYPE html>
<html>
  <head>
    <title>Booker2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      
      <%= link_to 'Home', root_path %>
      <%= link_to 'About', home_about_path %>    
      <% if user_signed_in? %>
        <%= link_to 'logout', destroy_user_session_path, method: :delete %>
        <% else %>
        <%= link_to 'sign up', new_user_registration_path %>
        <%= link_to 'login', new_user_session_path %>
      <% end %>
      
      <nav class="navbar navbar-expand-lg navbar-dark">
    </header>
    <%= yield %>
  </body>
</html>
